body {
    text-align: center;
    background: linear-gradient(#64DD17 40%, #4FC3F7 50%);
}


p {
    font-size: 25px;
    color: white;

    text-align: justify;

}

img {

    width: 300px;
    border-radius: 30px;

}

h1 {
    text-align: center;
    text-shadow: 2px 2px #f8bbd0;
}

section {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    font-weight: 100px;

}

.link {
    margin-right: 10px;
    font-size: 15px;
    color:ghostwhite;
     display: inline;
    
}





.link:hover {
    background-color: crimson;
    text-decoration: underline;
    font-size: 18px;
}


.menu {
    list-style: none;
    font-family: cursive;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
